@import url('./assets/css/global.css');
@import url('./assets/css/reset.css');

button{
    background-color: transparent;
    border: none;
    color: var(--color-secondary);
}

/*CABECARIO*/
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}
.header__logo{
    height: 4rem;
    width: 15.6rem;
    
}

/* BANNER */
.banner{
    display: flex;
    gap: 2rem;
    max-width: 100rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.banner__title{
    width: 48.9rem;
    font-size: 5.37rem;
    font-weight: 300;
}
.banner__figure{
    height: 32.2rem;
    width: 48.9rem;
}

/* MAIN*/
.main{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 4rem;
}

.main__app__card{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}
.main__nav--list{
    display: flex;
    gap: 1.6rem;
}

.main__options{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    align-items: center;
    border-radius: 3.2rem;
    background: var(--fundo-card-timer);
    border: 0.2rem solid var(--azul-royal);
    padding: 2rem 7rem;
}
.time{
    font-size: 11.2rem;
    font-weight: 900;
}

.main__list__tarefa{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.list__tarefa--menu{
    width: 3.2rem;
    height: 3.2rem;
}

.app__card-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}
.app__card-list-label {
    color: var(--color-secondary);
    font-family: Montserrat;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
}

* toggle */
.toggle {
    cursor: pointer;
    display: inline-block;
}

.toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 1.6rem;
    width: 5.8rem;
    height: 3.2rem;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}

.toggle-switch:before, .toggle-switch:after {
    content: "";
}

.toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    top: 0.4rem;
    left: 0.4rem;
    transition: left 0.25s;
}

.toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
}

.toggle-checkbox:checked + .toggle-switch {
    background: var(--lils);
}

.toggle-checkbox:checked + .toggle-switch:before {
    left: 3rem;
}

.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}

/* fim - toggle */
